/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

body{
	margin:0em;
	padding: 0em;
}

h1, h2, h3 {
	margin: 0;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	/* --color-text:#111; */
	--color-background:#eee;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: tele2;
	src: url(fonts/Breakers\ Slab\ W00\ Ultra.ttf);
}

@font-face {
	font-family: regular;
	src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: semibold;
	src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
	font-family: extrabold;
	src: url(fonts/PlayfairDisplay-ExtraBold.ttf);
}

h1,h2 {
	font-family: tele2, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.3rem;
	
	padding: 0.5em;

}

h3 {
	font-family: extrabold,Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	line-height: 0.03; 
	padding: 0.5em;
	padding-top: 2em;
}

.homepagina main section ul{
	list-style-image: url('../basis-images/check.png');
}

.mobielpagina main section ul{
	list-style-image: url('../basis-images/check.png');
}


li {
	font-family: regular,Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	line-height: 0.5em;
}

header {
	background-color: black;
	height: 4em;
}

header img {
	width: 20%;
	background-size: 2.624em 2em;
	margin-left: 0.7em;
	margin-right: auto;
	padding-top: 1em;
}


/* SECTION 1 */

.mobielpagina section:first-of-type {
	background-color: black;
} 

.mobielpagina section h1 {
	color:white;
	padding: top;
	display: flex;
	flex-direction: column;
}
.mobielpagina section h1 span {
	color: #ffd300;
}

.mobielpagina section:first-of-type p {
	color: white;
	padding: 1em;
}

.mobielpagina section:first-of-type img {
	width: 50%;
}

.mobielpagina main section:first-of-type p {
	font-family: regular,Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	line-height: 1.5em;
}

/* SECTION 2 */

/* https://www.w3schools.com/css/css3_buttons.asp */

.mobielpagina section:nth-of-type(2) {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2em;
	flex-wrap: wrap;
	margin-top: 2em;
	margin-bottom: 3em;
}

.mobielpagina main section:nth-of-type(2) a {
	padding: 1em;
	font-size: 1.125em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	margin-top: 0.5em;
	text-decoration: none;
	font-family: semibold,Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
}

.mobielpagina main section:nth-of-type(2) a:first-of-type {
	background-color: #009fdf;
	margin-left: -1em;
	margin-right: -1em;
}

.mobielpagina main section:nth-of-type(2) a:nth-of-type(2) {
	background-color: #005eb8;
	margin-left: -1em;
	margin-right: -1em;
}

.mobielpagina main section:nth-of-type(2) a:nth-of-type(3) {
	background-color: #702082;
	margin-left: -1em;
	margin-right: -1em;
}

.mobielpagina main section:nth-of-type(2) a:nth-of-type(4) {
	background-color: #d40f7d;
	margin-left: -1em;
	margin-right: -1em;
}

/* SECTION 3 */

.mobielpagina section:nth-of-type(3) {
	background-color: white;
}

.mobielpagina section:nth-of-type(3) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.mobielpagina section:nth-of-type(3) h2 span {
	color: black;
}

.mobielpagina img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.mobielpagina section:nth-of-type(3) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.mobielpagina section:nth-of-type(3) li {
	color: black;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECTION 4 */

.mobielpagina section:nth-of-type(4) {
	background-color: black;
	padding-bottom: 1em;
}

.mobielpagina section:nth-of-type(4) h2 {
	color:white;
	padding: top;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}
.mobielpagina section:nth-of-type(4) h2 span {
	color: #ffd300;
}

.mobielpagina section:nth-of-type(4) li {
	color: white;
}

.mobielpagina section:nth-of-type(4) img {
	width: 100%;
}

.mobielpagina section:nth-of-type(4) a:first-of-type {
	background-color: #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

/* SECTION 5 */

.mobielpagina section:nth-of-type(5) {
	background-color: #ffd300;
	padding-bottom: 1em;
}

.mobielpagina section:nth-of-type(5) h2 {
	color: black;
	padding-top: 1.5em;
	padding: top;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}

.mobielpagina section:nth-of-type(5) h2 span {
	color: black;
}

.mobielpagina section:nth-of-type(5) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}


/* SECTION 6 */

.mobielpagina section:nth-of-type(6) {
	background-color: white;
	padding-bottom: 1em;
}

.mobielpagina section:nth-of-type(6) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}

.mobielpagina section:nth-of-type(6) h2 span {
	color: black;
}

.mobielpagina section:nth-of-type(6) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}


/* SECTION 7 */

.mobielpagina section:nth-of-type(7) {
	background-color: black;
	padding-bottom: 1em;
}

.mobielpagina section:nth-of-type(7) h2 {
	color: white;
	padding: top;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}

.mobielpagina section:nth-of-type(7) h2 span {
	color: #ffd300;
}

.mobielpagina section:nth-of-type(7) li {
	color: white;
}

.mobielpagina section:nth-of-type(7) a:first-of-type {
	background-color: #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

/* SECTION 8 */

.mobielpagina section:nth-of-type(8) {
	background-color: #ffd300;
	padding-bottom: 1em;
}

.mobielpagina section:nth-of-type(8) h2:first-of-type {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}

.mobielpagina section:nth-of-type(8) h2 span {
	color: black;
}	

.mobielpagina section:nth-of-type(8) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

/* SECTION 9 */

.mobielpagina section:nth-of-type(9) {
	background-color: #f5f5f5;
	padding-bottom: 2em;
}

.mobielpagina section:first-of-type h3 {
	padding-top: 2em;
}

.mobielpagina section:nth-of-type(9) p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	line-height: 1.7em;
	color: #545454;
}

/* SECTION 10 */

.mobielpagina section:nth-of-type(10) {
	background-color: white;
}

.mobielpagina section:nth-of-type(10) p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	line-height: 1.7em;
	color: #545454;
}

s.mobielpagina ection:nth-of-type(10) p:first-of-type a:first-of-type {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

.mobielpagina section:nth-of-type(10) p:first-of-type a:nth-of-type(2) {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

.mobielpagina section:nth-of-type(10) p:nth-of-type(2) a:first-of-type {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

.mobielpagina section:nth-of-type(10) p:nth-of-type(2) a:nth-of-type(2) {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

/* SECTION 11 */

.mobielpagina section:nth-of-type(11) {
	background-color: white;
}

.mobielpagina section:nth-of-type(11) p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	line-height: 1.7em;
	color: #545454;
}

.mobielpagina section:nth-of-type(11) p:first-of-type a:first-of-type {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

.mobielpagina section:nth-of-type(11) p:nth-of-type(2) a:first-of-type {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #009fdf;
}

/* SECTION 12 */

.mobielpagina section:nth-of-type(12) {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	padding: 2em;
	flex-wrap: wrap;
}

.mobielpagina section:nth-of-type(12) a {
	padding: 1em;
	font-size: 1.125em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	margin-top: 0.5em;
	text-decoration: none;
	margin-left: -1em;
	margin-right: -1em;
}

.mobielpagina section:nth-of-type(12) a:first-of-type {
	background-color: #009fdf;
}

.mobielpagina section:nth-of-type(12) a:nth-of-type(2) {
	background-color: #005eb8;
}

.mobielpagina section:nth-of-type(12) a:nth-of-type(3) {
	background-color: #702082;
}

.mobielpagina section:nth-of-type(12) a:nth-of-type(4) {
	background-color: #d40f7d;
}

/* SECTION 13 */

.mobielpagina section:nth-of-type(13) {
	background-color:white;
	display: flex;
	flex-direction: column;
	padding: 3em;
	flex-wrap: wrap;
}

/* FOOTER section 1*/

.mobielpagina footer section:first-of-type {
	background-color: #ffd300;
	border-color: transparent;
	scroll-padding-bottom: 10.5em;
}

.mobielpagina footer section:first-of-type summary {
	font-family: extrabold,Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 0.03;
	padding: 1.5em;
	margin-left: -1.2em;
}

.mobielpagina footer section:first-of-type img {
	width: 100%;
	margin-left: -0.0675em;
}

/* FOOTER section 2 */

.mobielpagina footer section:nth-of-type(2) {
	background-color: black;
	margin-top: -1em;
	padding: 2em 0;
}

.mobielpagina footer section:nth-of-type(2) img {
	width: 30%;
	margin-left: 0.8em;
	margin-right: auto;
	padding-left: auto;
}

.mobielpagina footer section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.mobielpagina footer section:nth-of-type(2) ul a {
	font-family: semibold,Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	padding-left: 0;
	color: white;
	text-decoration: none;
}

.mobielpagina footer section:nth-of-type(2) ul li {
	list-style-type: none;
}

.mobielpagina footer section:nth-of-type(2) p {
	color: #f5f5f5;
}


/* HOMEPAGINA */
/* SECTION 1 */

.homepagina section:first-of-type {
	background-color: black;
} 
	
.homepagina section h1  {
	color:white;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section h1 span {
	color: #ffd300;
}

.homepagina section:first-of-type li {
	color: white;
}

.homepagina section:first-of-type img {
	width: 110%;
	display: flex;
	align-items: center;
}

/* SECTION 2 */

.homepagina section:nth-of-type(2) {
	background-color: #ffd300;
	display: flex;
	flex-direction: column;
	padding: 2em;
	flex-wrap: wrap;
	margin-bottom: 3em;
} 

.homepagina main section:nth-of-type(2) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: semibold,Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.homepagina main section:nth-of-type(2) a:nth-of-type(2) {
	background-color: transparent;
	outline: 0.125em solid black;
	padding: 1em;
	font-size: 1em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	margin-top: 0.5em;
	text-decoration: none;
	font-family: semibold,Arial, Helvetica, sans-serif;
}

.homepagina main section:nth-of-type(2) p {
	font-size: 0.6em;
	font-family: regular,Arial, Helvetica, sans-serif;		
	padding: 2em;
	line-height: 1.5em;
	margin: -1em;
}

/* SECTION 3 */

.homepagina section:nth-of-type(3) {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2em;
	flex-wrap: wrap;
	margin-top: 2em;
	margin-bottom: 3em;
}

.homepagina main section:nth-of-type(3) a {
	padding: 1em;
	font-size: 1.125em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	margin-top: 0.5em;
	text-decoration: none;
	font-family: semibold,Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
}

.homepagina main section:nth-of-type(3) a:first-of-type {
	background-color: #009fdf;
	margin-left: -1em;
	margin-right: -1em;
}

.homepagina main section:nth-of-type(3) a:nth-of-type(2) {
	background-color: #005eb8;
	margin-left: -1em;
	margin-right: -1em;
}

.homepagina main section:nth-of-type(3) a:nth-of-type(3) {
	background-color: #702082;
	margin-left: -1em;
	margin-right: -1em;
}

.homepagina main section:nth-of-type(3) a:nth-of-type(4) {
	background-color: #d40f7d;
	margin-left: -1em;
	margin-right: -1em;
}

/* SECTION 4 */

.homepagina section:nth-of-type(4) {
	background-color: black;
	padding-bottom: 1em;
} 

.homepagina section:nth-of-type(4) img:first-of-type {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
}

.homepagina section:nth-of-type(4) img:nth-of-type(2) {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-left: -0.0675em;
}

.homepagina section:nth-of-type(4) a:first-of-type {
	background-color: #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(4) a:nth-of-type(2) {
	background-color: transparent;
	outline: 2px solid #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: #ffd300;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(4) li {
	color: white;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECTION 5 */

.homepagina section:nth-of-type(5) {
	background-color: #f5f5f5;
	padding-top: 2em;
}

.homepagina section:nth-of-type(5) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(5) h2 span {
	color: black;
}

.homepagina section:nth-of-type(5) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(5) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(5) li {
	color: black;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECTION 6 */

.homepagina section:nth-of-type(6) {
	background-color: #ffd300;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(6) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(6) h2 span {
	color: black;
}

.homepagina section:nth-of-type(6) img {
	display: block;
	width: 110%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(6) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(6) p {
	font-family: regular,Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	padding: 2em;
	line-height: 1.5em;
	margin-top: -5em;
}

/* SECTION 7 */

.homepagina section:nth-of-type(7) {
	background-color: black;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(7) h2 {
	color: white;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(7) h2 span {
	color: #ffd300;
}

.homepagina section:nth-of-type(7) a:first-of-type {
	background-color: #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(7) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(7) li {
	color: white;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECTION 8 */

.homepagina section:nth-of-type(8) {
	background-color: #f5f5f5;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(8) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(8) h2 span {
	color: black;
}

.homepagina section:nth-of-type(8) a:first-of-type {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(8) a:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -2em;
}

.homepagina section:nth-of-type(8) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* SECTION 9 */

.homepagina section:nth-of-type(9) {
	background-color: #ffd300;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(9) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(9) h2 span {
	color: black;
}

.homepagina section:nth-of-type(9) a {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(9) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(9) li {
	color: black;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECTION 10 */

.homepagina section:nth-of-type(10) {
	background-color: #f5f5f5;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(10) h2 {
	color: black;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(10) h2 span {
	color: black;
}

.homepagina section:nth-of-type(10) a {
	background-color: black;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

.homepagina section:nth-of-type(10) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(10) li {
	color: black;
	padding-left: 1em;
	position: relative;
	display: list-item;
}

/* SECITON 11 */

.homepagina section:nth-of-type(11) {
	background-color: black;
	padding-bottom: 1em;
	padding-top: 2em;
}

.homepagina section:nth-of-type(11) h2 {
	color: white;
	padding: top;
	display: flex;
	flex-direction: column;
}

.homepagina section:nth-of-type(11) h2 span {
	color: #ffd300;
}

.homepagina section:nth-of-type(11) p {
	color: white;
	padding-left: 1em;
	position: relative;
}

.homepagina section:nth-of-type(11) img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.homepagina section:nth-of-type(11) a {
	background-color: #ffd300;
	padding: 1em;
	font-weight: bolder;
	font-size: 1.125em;
	border: none;
	border-radius: 65em;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
}

/* SECTIONC 12 */

.homepagina section:nth-of-type(12) {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	padding: 2em;
	flex-wrap: wrap;
}

.homepagina section:nth-of-type(12) a {
	padding: 1em;
	font-size: 1.125em;
	font-weight: bolder;
	border: none;
	border-radius: 65em;
	color: white;
	text-align: center;
	margin-top: 0.5em;
	text-decoration: none;
	margin-left: -1em;
	margin-right: -1em;
}

.homepagina section:nth-of-type(12) a:first-of-type {
	background-color: #009fdf;
}

.homepagina section:nth-of-type(12) a:nth-of-type(2) {
	background-color: #005eb8;
}

.homepagina section:nth-of-type(12) a:nth-of-type(3) {
	background-color: #702082;
}

.homepagina section:nth-of-type(12) a:nth-of-type(4) {
	background-color: #d40f7d;
}

/* FOOTER SECTION 1 */

.homepagina footer section:first-of-type {
	background-color: #ffd300;
	border-color: transparent;
	scroll-padding-bottom: 10.5em;
}

.homepagina footer section:first-of-type summary {
	font-family: extrabold,Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 0.03;
	padding: 1.5em;
	margin-left: -1.2em;
}

.homepagina footer section:first-of-type img {
	width: 100%;
	margin-left: -0.0675em;
}

/* FOOTER SECTION 2 */

.homepagina footer section:nth-of-type(2) {
	background-color: black;
	margin-top: -1em;
	padding: 2em 0;
}

.homepagina footer section:nth-of-type(2) img {
	width: 30%;
	margin-left: 0.8em;
	margin-right: auto;
	padding-left: auto;
}

.homepagina footer section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.homepagina footer section:nth-of-type(2) ul a {
	font-family: semibold,Arial, Helvetica, sans-serif;
	font-size: 0.875em;
	padding-left: 0;
	color: white;
	text-decoration: none;
}

.homepagina footer section:nth-of-type(2) ul li {
	list-style-type: none;
}

.homepagina footer section:nth-of-type(2) p {
	color: #f5f5f5;
}